@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    --background: 218 10% 7%;
    --foreground: 0 0% 100%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 80%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 95%;
 
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 0 0% 100%;
    
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 100% 14%;
    --primary-foreground: 222.2 100% 100%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}