@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
  width: 100%;
  min-height: -webkit-fill-available;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.overlay {    
  background: linear-gradient(
    rgb(133, 133, 133),
    rgb(133, 133, 133) 1px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 40px;
  height: 9999px;
  width: 9999px;
  position: absolute;
  z-index: 20;
  left: 0px;
  top: 0px;
}

.overlay-2 {    
  background: linear-gradient(
    rgb(133, 133, 133),
    rgb(133, 133, 133) 1px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 40px;
  height: 9999px;
  width: 9999px;
  position: absolute;
  z-index: 20;
  left: 0px;
  top: 0px;
}

@layer base {
  :root {
    --background: 218 10% 7%;
    --foreground: 0 0% 100%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 80%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 95%;
 
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 0 0% 100%;
    
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 100% 14%;
    --primary-foreground: 222.2 100% 100%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1 {
    @apply text-9xl font-bold
  }
  h2 {
    @apply text-7xl font-bold
  }
  h3 {
    @apply text-6xl font-bold
  }
  h4 {
    @apply text-4xl font-bold
  }
  h5 {
    @apply text-2xl font-bold
  }
  h6 {
    @apply text-xl font-bold
  }
}